# Исключаем всё
/*
# Кроме самого .gitignore (и как следствие всего, что в нём написано)
!.gitignore
# Кроме папок и файлов модуля
!/engine/modules/base/
!/engine/data/blockpro.php
!/engine/ajax/base/
!/engine/ajax/blockpro.php
!/engine/inc/blockpro.php
!/engine/skins/images/blockpro.png
!/templates/Default/blockpro/
!/blockpro.php
!/blockpro_install.php
!/blockpro_upgrade.php
!/bp_check.php